.primeira-navbar, .segunda-navbar {
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0px;
}

.primeira-navbar {
    background-color: #9822AB;
    color: #fff;
}

.segunda-navbar {
    background-color: #B012CA;
    color: #fff;
    margin-bottom: 35px;
}

.estrutura-logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    height: 55px;
    margin-right: 10px;
}

.vastarefas{
    text-decoration: none;
    color: #fff;

}

.nome-empresa {
    src: url(fonts/JosefinSans-Italic-VariableFont_wght.ttf);
    font-family: 'Josefin Sans', sans-serif; /* Altera a fonte para 'Josefin Sans' */
    font-size: 2.0rem;
    font-weight: bold;
}

.nav-home {
    color: #fff;
    text-decoration: none;
    margin: 0 30px;
    transition: color 0.3s;
    direction: rtl;
    src: url(fonts/Inter-VariableFont_slnt\,wght.ttf);
    font-family: 'Inter', sans-serif;
}

.nav-calendario {
    color: #fff;
    text-decoration: none;
    margin: 0 30px;
    transition: color 0.3s;
    direction: rtl;
    src: url(fonts/Inter-VariableFont_slnt\,wght.ttf);
    font-family: 'Inter', sans-serif;
}

.segunda-navbar .nav-calendario .nav-home {
    color: #ffffff;
}

.seta-img {
    width: 40px;
    height: 35px;
    margin-right: 5px;
}

.seta-link {
    font-size: 1.2rem;
    margin-right: auto;
}

footer {
    background-color: #B012CA;
    padding: 20px;
    text-align: center;
    color: #fff;
}


.conteudogeral {
    display: flex; 
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.conteudo1, .conteudo2, .conteudo3, .social-icons, .social-icon{
    flex: 1; 
    margin: 10px; 
    color: #fff;
}

.social-icons {
    margin-top: 20px;
}

.social-icon {
    display: inline-block;
    margin: 5px;
    width: 30px;
    height: 30px;
    transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.social-icon img {
    width: 100%;
    height: auto;
}

.social-icon:hover {
    transform: scale(1.1); 
    filter: brightness(1.2); 
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

h4 {
    font-size: 1.2rem;
    margin-top: 12px;
    margin-bottom: 5px;
}

.linksfooter {
    display: block;
    justify-content: justify;
    color: #fff;
}

.linksfooter li{
    text-align: justify;
    margin-left: 98px;
}

.linksfooter:hover {
    color:white;

}

.linkemail{
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.linkemail:hover{
    color: darkgray;
}

.linksimportantes{
    color: #fff;
    text-decoration: none;
    justify-content: justify;

}

.linksimportantes:hover{
    color: darkgray;
}

