
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1 {
  font-size: larger;
}

header {
  background-color: #9822AB;
  color: #fff;
  text-align: center;
  padding: 20px;
}

main {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  align-items: center;
}

section {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

footer {
  background-color: #9822AB;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.logo {
  width: 177px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 17px;
}

.linkvoltar {
  text-align: left;
  margin-left: 20px;
  position: absolute;
}
.nav-home,
.nav-calendario {
    color: #fff;
    text-decoration: none;
    margin: 0 30px;
    transition: color 0.3s;
    direction: rtl;
    font-family: 'Inter', sans-serif;
    display: block;
}

/* Restante do seu CSS permanece inalterado */

.button-home{
  text-align: center;
  background-color:  blueviolet;

}