@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url(img/calendario.jpg);
    background-size: cover;

}

.primeira-navbar, .segunda-navbar {
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.primeira-navbar {
    background-color: #9822AB;
    color: #fff;
}

.segunda-navbar {
    background-color: #B012CA;
    color: #fff;
}

.estrutura-logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    height: 55px;
    margin-right: 10px;
}

.vastarefas{
    text-decoration: none;
    color: #fff;

}

.nome-empresa {
    src: url(fonts/JosefinSans-Italic-VariableFont_wght.ttf);
    font-family: 'Josefin Sans', sans-serif; /* Altera a fonte para 'Josefin Sans' */
    font-size: 2.0rem;
    font-weight: bold;
}

.nav-home {
    color: #fff;
    text-decoration: none;
    margin: 0 30px;
    transition: color 0.3s;
    direction: rtl;
    src: url(fonts/Inter-VariableFont_slnt\,wght.ttf);
    font-family: 'Inter', sans-serif;
}

.nav-calendario {
    color: #fff;
    text-decoration: none;
    margin: 0 30px;
    transition: color 0.3s;
    direction: rtl;
    src: url(fonts/Inter-VariableFont_slnt\,wght.ttf);
    font-family: 'Inter', sans-serif;
}

.segunda-navbar .nav-calendario .nav-home {
    color: #ffffff;
}

.seta-img {
    width: 40px;
    height: 35px;
    margin-right: 5px;
}

.seta-link {
    font-size: 1.2rem;
    margin-right: auto;
}

.container {
    width: 1200px; 
    margin: 240px auto;
    height: 300px;
}

.container .box{
    position: relative; width: calc(400px - 30px);
    height: calc(300px - 30px);
    background: #B012CA;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.estilizar-table{
    font-family: 'Urbanist', sans-serif;
}

.adicionar-form{
    font-family: 'Urbanist', sans-serif;
}

.estilizar-select{
    font-family: 'Urbanist', sans-serif;
}

main{
    background-color: #e079f0;
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    margin: 40px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.adicionar-form{
    display: flex;
    margin-bottom: 50px;
    gap: 15px;
    width: 100%;
}

input{
    width: 100%;
    flex: 1;
    padding: 15px;
    border: 1px solid #DDD;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
}

button[type="submit"] {
    background-color: #B012CA;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 5px;
    color: #FFF;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    cursor: pointer;
}

table{
    border-collapse: collapse;
    width: 100%;
}

td, th {
    padding: 10px 15px;
    border: 1px solid #000000;
    text-align: center;
}

td {
    color: #333;
    font-weight: 600;
}

tr:nth-child(even) {
 background-color: #d237ea;
}

select {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-weight: 600;
    text-transform: capitalize;
    background-color: #ffffff;
}

select:hover {
    background-color: #B012CA;
}

.btn-acao{
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.btn-acao:nth-child(1){
    background-color: #4b1fdc;
    margin-right: 5px;
}

.btn-acao:nth-child(2){
    background-color: #cb2323;
    margin-right: 5px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}