@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

body {
    background-color: hsl(0, 0%, 100%);
    background-image: url(img/calendario.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    background-color: #e079f0;
    border-radius: 8px;
    padding: 40px;
    width: 90%;
    margin: 40px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}

.add-form {
    display: flex;
    margin-bottom: 50px;
    gap: 15px;
    width: 100%;
}

input {
    width: 500px;
    flex: 1;
    padding: 15px;
    border: 1px solid #DDD;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    font-weight: 600px;
}

button[type="submit"] {
    background-color: #B012CA;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 5px;
    color: #FFF;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    padding: 10px 15px;
    border: 1px solid #000;
    text-align: center;
}

td {
    color: #333;
    font-weight: 600;
}

tr:nth-child(even) {
    background-color: #d237ea;
}

select {
    width: 500px;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-weight: 600;
    text-transform: capitalize;
    background-color: #ffffff;
}

select:hover {
    background-color: #cb69da;
}

.primeira-navbar,
.segunda-navbar {
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.primeira-navbar {
    background-color: #9822AB;
    color: #fff;
}

.segunda-navbar {
    background-color: #B012CA;
    color: #fff;
}

.estrutura-logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    height: 55px;
    margin-right: 10px;
}

.nome-empresa {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.0rem;
    font-weight: bold;
}

.nav-home,
.nav-calendario {
    color: #fff;
    text-decoration: none;
    margin: 0 30px;
    transition: color 0.3s;
    direction: rtl;
    font-family: 'Inter', sans-serif;
}

.seta-img {
    width: 40px;
    height: 35px;
    margin-right: 5px;
}

.seta-link {
    font-size: 1.2rem;
    margin-right: auto;
}

footer {
    background-color: #B012CA;
    padding: 20px;
    text-align: center;
    color: #fff;
    margin-top: auto;
}


.conteudogeral {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.conteudo1 p{
    word-wrap: break-word;
}
.conteudo2,
.conteudo3,
.social-icons,
.social-icon {
    flex: 1;
    margin: 10px;
    color: #fff;
   
}

.social-icons {
    margin-top: 20px;
}

.social-icon {
    display: inline-block;
    margin: 5px;
    width: 30px;
    height: 30px;
    transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.social-icon img {
    width: 100%;
    height: auto;
}

.social-icon:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

h4 {
    font-size: 1.2rem;
    margin-top: 12px;
    margin-bottom: 5px;
}

.linksfooter {
    display: block;
    justify-content: justify;
    color: #fff;
}

.linksfooter li {
    text-align: justify;
    margin-left: 127px;
}

.linksfooter:hover {
    color: white;

}

.linkemail {
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.linkemail:hover {
    color: darkgray;
}

.linksimportantes {
    color: #fff;
    text-decoration: none;
    justify-content: justify;

}

.linksimportantes:hover {
    color: darkgray;

}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centraliza horizontalmente */
    justify-content: center;
    /* Centraliza verticalmente */
    min-height: calc(100vh - 160px);
    /* Altura mínima excluindo o header e footer */
    text-align: center;
    /* Centraliza o texto dentro da .content horizontalmente */
}

.formulario {
    max-width: 700px;
    /* Ajuste a largura máxima do formulário conforme necessário */
    width: 90%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #e079f0;
    text-align: left;
    /* Alinha o texto do formulário à esquerda */
}

.campo {
    margin-bottom: 20px;
    /* Espaçamento entre os campos */
}

.campo label {
    display: block;
    /* Coloca os rótulos em uma nova linha */
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
select,
input[type="date"] {
    width: 650px;
    padding: 15px;
    border: 1px solid #DDD;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    /* Modifique a fonte conforme necessário */
}

select:hover {
    background-color: #cb69da;
}

input[type="submit"] {
    background-color: #B012CA;
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 5px;
    color: #FFF;
    font-size: 1.7rem;
    font-weight: 500;
    cursor: pointer;
    margin-top: 30px;
    /* Espaçamento superior para o botão de enviar */
}

#status_tarefa:hover {
    background-color: #c436da;

}


@media (max-width: 768px) {
    body {
        background-image: none;
        /* Remove a imagem de fundo em telas menores */
    }

    main {
        width: 100%;
        /* margin: 10px;  */
    }

    button[type="submit"] {
        width: 100px;
        height: 40px;
        font-size: 1.5rem;
    }

    td,
    th {
        padding: 5px 10px;
    }

    .primeira-navbar,
    .segunda-navbar {
        padding: 10px;
    }

    .logo {
        width: 40px;
        height: 35px;
    }

    .nome-empresa {
        font-size: 1.5rem;
    }

    .nav-home,
    .nav-calendario {
        margin: 0 10px;
        font-size: 1rem;
    }

    footer {
        padding: 10px;
        text-align: center;
    }

    .conteudogeral {
        flex-direction: column;
        /* Altera a direção do flex para empilhar verticalmente */
    }

    .conteudo1,
    .conteudo2,
    .conteudo3,
    .social-icons {
        flex: none;
        /* Impede que os elementos ocupem espaço igual no rodapé */
        width: 100%;
        /* Ocupa toda a largura disponível */
        text-align: center;
        /* Centraliza o texto */
    }

    .linksfooter li {
        margin-left: 0;
        /* Remove a margem para alinhar à esquerda */
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    main {
        width: 100%;
    }

    h1 {
        font-size: 2rem;
    }

}


@media (min-width: 1201px) {
    main {
        width: 70%;
    }

    h1 {
        font-size: 2.5rem;
    }


}


/* Estilo para o botão "Salvar a tarefa" e "Lista de tarefas"
.btn, .botaotarefas {
    display: inline-block;
    padding: 10px 20px;
    background-color: #B012CA;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
    position: center;
}

Estilo quando o mouse passa por cima dos botões
.btn:hover, .botaotarefas:hover {
    background-color: #9822AB;
} */



/* .btn {
    display: inline-block;
    padding: 5px 10px;
    background-color: #B012CA;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}


.botaotarefas {
    display: inline-block;
    padding: 10px 20px;
    background-color: #B012CA;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}


.btn:hover, .botaotarefas:hover {
    background-color: #9822AB;
}


.button-container {
    text-align: center;
    margin-top: 20px; 
}
 */

/* Estilo para o botão "Salvar a tarefa" e "Lista de tarefas" */
.btn,
.botaotarefas {
    display: inline-block;
    padding: 10px 20px;
    /* Ajuste o tamanho do botão aqui */
    background-color: #B012CA;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

/* Estilo quando o mouse passa por cima dos botões */
.btn:hover,
.botaotarefas:hover {
    background-color: #9822AB;
}

/* Estilo para centralizar os botões */
.button-container {
    text-align: center;
    margin-top: 20px;
    /* Espaçamento superior entre os botões */
}