@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

body {
    background-color: hsl(0, 0%, 100%);
    background-image: url(img/calendario.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    background-color: #e079f0;
    border-radius: 8px;
    padding: 40px;
    width: 90%;
    margin: 40px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}

.add-form {
    display: flex;
    margin-bottom: 50px;
    gap: 15px;
    width: 100%;
}

input {
    width: 500px;
    flex: 1;
    padding: 15px;
    border: 1px solid #DDD;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    font-weight: 600px;
}

button[type="submit"] {
    background-color: #B012CA;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 5px;
    color: #FFF;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    cursor: pointer;
}

/* Estilo para a tabela */
/* Estilo para a tabela */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px; /* Espaçamento superior para a tabela */
    margin-left: auto; /* Margem esquerda automática para centralizar a tabela */
    margin-right: auto; /* Margem direita automática para centralizar a tabela */
    border-spacing: 10px; /* Espaçamento entre as células da tabela */
    border-radius: 10px; /* Adiciona bordas arredondadas */
    padding-left: 22px; /* Espaçamento no lado esquerdo */
    padding-right: 22px; /* Espaçamento no lado direito */

}

/* CSS for the table container */
.table-container {
    width: 80%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container horizontally */
    padding: 0px; /* Add space between the sides */
    background-color: white; /* Add a background color if necessary */
    border-radius: 10px; /* Optional: Add rounded corners to the container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}




td,
th {
    padding: 10px 15px;
    border: 1px solid #000;
    text-align: center;
}

td {
    color: #333;
    font-weight: 600;
}

tr:nth-child(even) {
    background-color: #d237ea;
}

select {
    width: 500px;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-weight: 600;
    text-transform: capitalize;
    background-color: #ffffff;
}

select:hover {
    background-color: #cb69da;
}
/* .primeira-navbar, */
.primeira-navbar,
.segunda-navbar {
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.primeira-navbar {
    background-color: #9822AB;
    color: #fff;
}

/* Estilos da segunda barra de navegação */
.segunda-navbar {
    background-color: #B012CA;
    color: #fff;
}

/* Estilos do logotipo */
.estrutura-logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    height: 55px;
    margin-right: 10px;
}

.nome-empresa {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.0rem;
    font-weight: bold;
}

/* Estilos dos links de navegação */
.nav-home,
.nav-calendario {
    color: #fff;
    text-decoration: none;
    margin: 0 30px;
    transition: color 0.3s;
    direction: rtl;
    font-family: 'Inter', sans-serif;
    display: block;
}

.seta-img {
    width: 40px;
    height: 35px;
    margin-right: 5px;
}

.seta-link {
    font-size: 1.2rem;
    margin-right: auto;
}

footer {
    background-color: #B012CA;
    padding: 20px;
    text-align: center;
    color: #fff;
    margin-top: auto;
}


.conteudogeral {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.conteudo1,
.conteudo2,
.conteudo3,
.social-icons,
.social-icon {
    flex: 1;
    margin: 10px;
    color: #fff;
}

.social-icons {
    margin-top: 20px;
}

.social-icon {
    display: inline-block;
    margin: 5px;
    width: 30px;
    height: 30px;
    transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.social-icon img {
    width: 100%;
    height: auto;
}

.social-icon:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

h4 {
    font-size: 1.2rem;
    margin-top: 12px;
    margin-bottom: 5px;
}

.linksfooter {
    display: block;
    justify-content: justify;
    color: #fff;
}

.linksfooter li {
    text-align: justify;
    margin-left: 127px;
}

.linksfooter:hover {
    color: white;

}

.linkemail {
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.linkemail:hover {
    color: darkgray;
}

.linksimportantes {
    color: #fff;
    text-decoration: none;
    justify-content: justify;

}

.linksimportantes:hover {
    color: darkgray;
}

/* Estilo para a tabela */
/* table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px; 
    margin-right: auto; 
    border-spacing: 10px; 
} */

td, th {
    padding: 10px 15px;
    border: 1px solid #000;
    text-align: center;
    margin: 5px; /* Espaço entre as laterais das células */
}

td {
    color: #333;
    font-weight: 600;
}

tr:nth-child(even) {
    background-color: #d237ea;
}

/* Estilo para o botão */

h1{
    text-align: center;
    justify-content:center;
}

.btn-volta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Adicione outras propriedades de estilo ao contêiner, se necessário */
}

.btn-volta {
    display: inline-block;
    padding: 10px 20px; /* Ajuste o preenchimento conforme necessário */
    background-color: #B012CA;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
    text-align: center; /* Centralize o texto dentro do botão */
    box-sizing: border-box;
    border: 2px solid #fff; /* Borda branca */
    width: auto; /* Permita que a largura do botão seja baseada no conteúdo */
}
.btn-volta {
    display: inline-block;
    padding: 10px 20px;
    background-color: #B012CA;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
    margin-top: 20px; /* Espaçamento superior para o botão */
}

/* Estilo quando o mouse passa por cima do botão */
.btn-volta:hover {
    background-color: #9822AB;
}


.btn-texto {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}







@media (max-width: 768px) {
    body {
        background-image: none;
        /* Remove a imagem de fundo em telas menores */
    }

    main {
        width: 100%;
        /* margin: 10px;  */
    }

    button[type="submit"] {
        width: 100px;
        height: 40px;
        font-size: 1.5rem;
    }

    td,
    th {
        padding: 5px 10px;
    }

    .primeira-navbar,
    .segunda-navbar {
        padding: 10px;
    }

    .logo {
        width: 40px;
        height: 35px;
    }

    .nome-empresa {
        font-size: 1.5rem;
    }

    .nav-home,
    .nav-calendario {
        margin: 0 10px;
        font-size: 1rem;
    }

    footer {
        padding: 10px;
        text-align: center;
    }

    .conteudogeral {
        flex-direction: column;
        /* Altera a direção do flex para empilhar verticalmente */
    }

    .conteudo1,
    .conteudo2,
    .conteudo3,
    .social-icons {
        flex: none;
        /* Impede que os elementos ocupem espaço igual no rodapé */
        width: 100%;
        /* Ocupa toda a largura disponível */
        text-align: center;
        /* Centraliza o texto */
    }

    .linksfooter li {
        margin-left: 0;
        /* Remove a margem para alinhar à esquerda */
        display: flex;
        justify-content: center;
    }
    
}

@media (min-width: 769px) and (max-width: 1200px) {
    main {
        width: 100%;
    }

    h1 {
        font-size: 2rem;
    }

}


@media (min-width: 1201px) {
    main {
        width: 70%;
    }

    h1 {
        font-size: 2.5rem;
    }


}
/* Estilo para o contêiner da tabela */
.table-container {
    overflow-x: auto; /* Adiciona rolagem horizontal em telas menores */
    max-width: 100%; /* Evita que a tabela ultrapasse a largura da tela */
    margin: 0 auto; /* Centraliza o contêiner na tela */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px; /* Espaçamento ao redor da tabela */
}

/* Estilo padrão para a tabela */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    border-spacing: 10px;
    border-radius: 10px;
    padding-left: 22px;
    padding-right: 22px;
}

td, th {
    padding: 10px 15px;
    border: 1px solid #000;
    text-align: center;
    margin: 5px;
}

/* Adicione regras de mídia para telas menores */
@media (max-width: 768px) {
    table {
        font-size: 0.8rem;
    }

    td, th {
        padding: 5px 10px;
    }
}


tr:nth-child(even) {
    background-color: #d237ea;
}

/* Adicione regras de mídia para telas menores */

@media (max-width: 480px) {
    table {
        font-size: 0.6rem; /* Reduza ainda mais o tamanho da fonte */
    }
}

