body {
    background: linear-gradient(90deg, rgb(138, 7, 145) 0% 50%, rgb(228, 222, 222) 50% 100%);
    font-family: Arial, sans-serif;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    padding-left: 30px !important;
    margin-bottom: 10px;
    border: 6px solid #CD90FE;
    border-radius: 5px;
    background-color: #CD90FE;
    color: white;
}
button {
    padding: 10px 20px;
    background-color: #CD90FE;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    width: 300px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    
}

#img-user {
    width: 25px;
    height: 25px;
    position: absolute;
    margin: 7px;
}

#img-email{
    width: 25px;
    height: 25px;
    position: absolute;
    margin: 7px;
}

#img-senha{
    width: 25px;
    height: 25px;
    position: absolute;
    margin: 7px;
}
#img-csenha{
    width: 25px;
    height: 25px;
    position: absolute;
    margin: 7px;
}