@media (max-width: 768px) {
    
}
@media (min-width: 769px) and (max-width: 1024px) {

}
@media (min-width: 480px) and (max-width:2532px){

}

#logologin {
    width: 180px;
    margin-left: 200px;
}

#titulo {
    color: white;
}

body {
    background: linear-gradient(90deg, rgb(138, 7, 145) 0% 50%, rgb(241, 239, 239) 50% 100%);
    font-family: Arial, sans-serif;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    padding-left: 30px !important;
    margin-bottom: 10px;
    border: 6px solid #CD90FE;
    border-radius: 5px;
    background-color: #CD90FE;
    color: white;
}



button {
        cursor: pointer;
        background:#CD90FE;
        padding: 8px 5px;
        color: #fff;
        border: 1px solid #3274e7;
        margin-bottom: 10px;
        border-radius: 5px;
        outline: none;
        width: 95%;
        margin-top: 4px;
        padding: 10px;
        border:none;

}

button:hover{
    background-color:#a25fda;
}

#logologin {
    margin-left: 240px;
}

#titulo {
    margin-left: 160px;
    color: white;
    padding: 20px;
}

#img-user {
    width: 25px;
    height: 25px;
    position: absolute;
    margin: 7px;
}

#img-email{
    width: 25px;
    height: 25px;
    position: absolute;
    margin: 7px;
}

#img-senha{
    width: 25px;
    height: 25px;
    position: absolute;
    margin: 7px;
}
#img-csenha{
    width: 25px;
    height: 25px;
    position: absolute;
    margin: 7px;
}

/* .bi{
    position: absolute;
    margin-left: -190px;
    margin-top: 5px;
} */

#text {
    margin-right: 100px;
    margin-left: 20px;
    line-height: 30px;
    text-align: justify;
    color: white;
}

#caderneta {
    width: 400px;
}

.container {
    /* width: 165%; */
    height: 75%;
    padding: 15px;
    margin-top: 75px;
    padding-top: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-left: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
}

.main {
    display: flex;
}

.cadastre-se{
    text-decoration: none;
    color: #570e93;
    font-size: small;
}

.esqueceur{
    text-decoration: none;
    font-size: small;
    padding-top: 0;
    margin: 0;
    color: #570e93;
}

#logintitulo {
    padding-top: 0;
    margin: 0;
    padding-bottom: 50px;
}

.formzao {
    width: 300px;
    border-radius:20px;

}

.lado-esq {
    width: 100%;
}

.lado-dir {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

#cadastro-form {
    width:fit-content;
    margin: 30px;
    display: inline-block;
    align-items: center;
    justify-content: center;

}

.foto-caderneta {
    display: flex;
    justify-content: flex-end;
}

#enviar {
    display: flex;
    align-items: center;
    margin-left: 100px;
    justify-content: center;
    margin-top: 20px;
    width: 150px;
    margin-right: 20px;
    border-radius:20px;
}

#cadastrarse {
    width: 350px;
    border-radius:20px;
}